body {
    margin: 0;
    font-family: 'Chivo', sans-serif;
    background-color: #121725;
    /* background-image: url("assets/desktop/bg-pattern-dots.svg"); */
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.polka-dots{
    position: absolute;
    left: 1043px;
    top: 588px;
}
.main-container{
    margin-top: 42px;
    margin-bottom: 42px;
    width: 1440px;
    height: 900px;
    background-color: #121725;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container{
    width: 1275px;
    height: 720px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;


}

.promo-container{
    margin-top: 100.63px;
    width: 723px;
    height: 615.37px;
    background-color: #121725;
    position: absolute;
    top:0;
    left: 0;

}
.promo-subcontainer{
    display: flex;
}
.promo-title{
    margin-top:45.5px;
    color: #54E6AF;
    font-family: Chivo;
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;
}
.promo-summary{
    width: 445px;
    height: 84px;
    margin-top: 14px;
    margin-bottom: 21px;
    font-family: Chivo;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #C2CBE5;
}
.promo-form{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.promo-input{
    display: flex;
    align-items: center;
    padding-left: 32px;
    width: 427px;
    height: 56px;
    background: #2C344B;
    border-radius: 28px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    outline: none;
    color: rgba(255, 255, 255, 0.5);
    border: none;
}
.promo-text-area{
    align-self: center;
    display: flex;
    padding-top: 21.26px;
    padding-left: 28.31px;
    width: 427px;
    height: 130.24px;
    outline: none;
    background: #2C344B;
    border-radius: 28px;
    margin-bottom: 8.39px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    resize: none;
}
.promo-text-area textarea{
    padding: 0;
}


.promo-button{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 420px;
    height: 46px;
    color: black;
    background: #54E6AF;
    box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
    border-radius: 28px;
}
.promo-button:hover{
    background-color: #B3FFE2;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
    cursor: pointer;
    z-index: 6;
}
.error{
    padding-left: 32px;
    color: #FB3E3E;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8.37px;
}
.promo-affiliates{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.affiliate-icon{
    margin-bottom: 20px;
    margin-left: 76px;
}
.image-host{
    width: 1275px;
    height: 640px;
    margin-left: 387px;
}
.host-container{

    width: 1275px;
    height: 640px;
    display:inline-block;
    position: relative;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}
.title-icon{
    height: 56px;
    width: 56px;
    background-image: url("assets/desktop/logo.svg");
}
.title-name{
    padding-left: 13.2px;
    color: white;
    font-size: 35.65px;
    font-weight: 500;
}