body {
    margin: 0;
    font-family: 'Chivo', sans-serif;
    /* background-image: url("assets/desktop/bg-pattern-dots.svg"); */
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.polka-dots{
    position: absolute;
    left: 1043px;
    top: 588px;
}
.main-container{
    margin-top: 42px;
    margin-bottom: 42px;
    width: 1440px;
    height: 900px;
    background-color: #121725;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container{
    width: 1275px;
    height: 720px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;


}
.white-font{
    color: white;
    
}
.promo-container{
    margin-top: 131px;
    width: 723px;
    height: 509px;
    background-color: #121725;
    position: absolute;
    top:0;
    left: 0;

}
.promo-title{
    margin-top: 88px;
    width: 665px;
    height: 124px;
    color: #54E6AF;
    font-family: Chivo;
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;
}
.promo-summary{
    width: 445px;
    height: 84px;
    margin-top: 24px;
    margin-bottom: 40px;
    font-family: Chivo;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #C2CBE5;
}
.promo-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    width: 427px;
    height: 56px;

    background: #2C344B;
    border-radius: 28px;
    margin-bottom: 64px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
}
.promo-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 162px;
    height: 46px;
    color: black;
    background: #54E6AF;
    box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
    border-radius: 28px;
}
.promo-affiliates{
    display: flex;
    align-items: center;
}
.affiliate-icon{
    margin-right: 40px;
}
.image-host{
    width: 1275px;
    height: 640px;
    margin-left: 387px;
}
.host-container{

    width: 1275px;
    height: 640px;
    display:inline-block;
    position: relative;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}
.title-icon{
    height: 56px;
    width: 56px;
    background-image: url("assets/desktop/logo.svg");
}
.title-name{
    padding-left: 13.2px;
    color: white;
    font-size: 35.65px;
    font-weight: 500;
}